:root {
  --background: rgb(30,30,30);
  --background-header: rgb(10,10,10);
  --gray-50: rgb(220,220,220);
  --gray-100: rgb(100,100,100);
  --red-900: rgba(76,7,7,0.95);
  --red-1000: rgb(76,7,7);
  --blue-900: rgb(18,28,36);

  --font-size-100: clamp(0.68rem, 5vw, 1.5rem);
  --font-size-200: clamp(1.5rem, 5vw, 3rem);
  --font-size-300: clamp(3rem, 10vw, 6rem);

  --title-font: sans-serif;
  --link-font: sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

header {
  z-index: 1000;
}

body {
  margin: 0;
  padding-top: 80px;
  overflow-x: hidden;
  background: var(--background);
}

/* Screen-reader only */
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.flex {
  display: flex;
  gap: var(--gap, clamp(0.5rem, 5vw, 2rem))
}

a, h1, h2, h3{
  text-decoration: none;
  color: white;
  margin: 0;
}

p {
  margin: 0;
  color: var(--gray-50);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-family: var(--title-font);
  font-size: var(--font-size-100);
  text-justify: start;
  padding: 0 1rem;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: var(--font-size-200);
  margin: 1rem 0;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
  font-size: var(--font-size-300);
  margin: 1rem 0 0 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-link a {
  padding: 2rem 0.5rem;
  border-radius: 4px;
  transition: 0.3s;
}

.nav-link a:hover {
  background: url(images/target.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.primary-header{
  align-items: center;
  justify-content: space-between;
  background: var(--background-header);
  padding: 0 1rem;
}

/* Hamburger btn */
.mobile-nav-toggle{
  z-index: 1000;
  display: none;
}

.logo {
  margin: 1rem;
  max-height: 3rem;
}

.symbol {
  width: clamp(50px, 30%, 150px);
  max-height: 100px;
}

.primary-navigation {
  z-index: 999;
  list-style: none;
  margin: 0;
  padding: 0;
}

.primary-navigation a {
  font-weight: 700;
  font-family: var(--link-font);
  margin-inline-end: 0.75rem;
}

.container {
  position: relative;
  text-align: center;
}

.call-to-action {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-decoration: underline;
}

.blood_banner {
  z-index: -2;
  height: 20vh;
  background-image: url("images/blood_banner.svg");
  opacity: 0.9;
}

.gunbarrel {
  z-index: -1;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -5%);
  width: 2000px;
  background: var(--gray-100);
}

#come-see {
  align-items: center;
  justify-content: center;
  background: var(--background);
  margin-top: 60vh;
  opacity: 0.9;
}

.arrow {
  height: 2rem;
  animation: float 4s ease-in-out infinite;
}

.car-image {
  height: clamp(200px, 40vw, 800px);
}

.description {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5vw;
  background: var(--background);
  opacity: 0.9;
}

.description p {
  text-align: left;
}

#have-a-look{
  background-color: var(--red-900);
  text-decoration: underline;
}

.map {
  padding: 2rem;
  margin: 1rem;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-900);
  border-radius: 30px;
}

.address {
  border-style: solid;
  border-color: var(--gray-100);
  border-radius: 5px;
  margin-top: 10vh;
  padding: 0 2rem 1rem;
}

.address p {
  font-size: clamp(1rem, 4vw, 5rem);
}

.map img {
  width: clamp(200px, 70vw, 300px);
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(-5px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(5px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(-5px);
  }
}

/* Tickets */
.tickets-title p {
  margin: 1rem 0;
}

.currency {
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.currency img {
  width: 2rem;
}

.customers {
  padding: 0;
  align-items: end;
  justify-content: center;
}

.customer img {
  width: clamp(3rem, 30%, 4rem);
}

.customer p {
  padding: 1rem 0 0 0;
}

/* Contact */

.contact-body {
  flex-direction: column;
}

.contact {
  align-items: center;
  justify-content: start;
  margin-top: 2rem;
}

.contact h2 {
  margin-bottom: 0;
}

.contact p {
  font-size: var(--font-size-100);
}

.contact img {
  margin-top: 1.5rem;
  width: clamp(3rem, 30%, 4rem);
}

.contact-detail {
  text-align: left;
}

/* Merch */

.merch-title p {
  margin: 1rem 0;
}

.assortment {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product-card {
  padding: 3rem;
}

.product-card img {
  height: clamp(200px, 25vw, 300px); 
}

@media (max-width: 50em) {
  .primary-navigation {
    --gap: 2em;
    position: fixed;
    inset: 0 0 0 40%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    transform: translateX(100%);
    transition: transform 200ms ease-out;
    background: var(--red-1000);
  }

  @supports (backdrop-filter: blur(1rem)){
    .primary-navigation {
      background: var(--red-900);
      backdrop-filter: blur(2rem);
    }
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(30%);
  }

  .mobile-nav-toggle {
    position: absolute;
    display: block;
    z-index: 1000;
    background-color: transparent;
    background: url("images/hamburger.svg");
    background-repeat: no-repeat;
    border: 0;
    aspect-ratio: 1;
    width: 2rem;
    top: 1.5rem;
    right: 2rem;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background: url("images/close.svg");
  }

  .map {
    flex-direction: column;
  }

  .contact {
    padding: 0 1rem;
  }
}

@media (min-width: 50em){
  .primary-navigation {
    padding: 0;
  }

  .description {
    align-items: start;
    flex-direction: row;
  }

  .contact-body {
    flex-direction: row;
    padding: 0 2vw;
  }

  .contact-title {
    padding: 2rem;
  }
}
